[database]
user="dev"
host="localhost"
port=3306
password="password"
database="many_pw"

[paths]
prefix="./"
videos="/Users/aa/videos/"

[directories]
active="/path/to/dir"
guid="57c2f320-6744-4d91-be7a-cfad7392ab18"
