{{ define "_welcome_col1" }}
{{ $row := index . "row" }}
{{ index $row "name" }}
{{ end }}

{{ define "_welcome_col2" }}
{{ $row := index . "row" }}
{{ index $row "age" }}
{{ end }}

{{ define "_welcome_col3" }}
{{ $row := index . "row" }}
{{ index $row "species" }}
{{ end }}

{{ define "_welcome_col4" }}
{{ $row := index . "row" }}
{{ index $row "home_planet" }}
{{ end }}

{{ define "_welcome_col5" }}
{{ $row := index . "row" }}
{{ index $row "language" }}
{{ end }}

{{ define "_welcome_col6" }}
{{ $row := index . "row" }}
{{ index $row "occupation" }}
{{ end }}
