                
<article class="grid">
        <div>
          <hgroup>
            <h1>About Feedback</h1>
            <h2>This is a "<a href="https://go.dev">go</a> on <a href="https://rubyonrails.org">rails</a>" framework.</h2>
          </hgroup>
                <p>
                A sample app using this framework <a href="https://github.com/andrewarrow/remoterenters">is here</a>.

                You can start with its main.go file and build your own app.
                </p>
                <p>
                This sample app is live at <a href="https://remoterenters.com/">https://remoterenters.com/</a>
                </p>
        </div>
        <div></div>
</article>

