       <tr class="spacer" style="height:15px"></tr>
 <tr class='athing'>
      <td align="right" valign="top" class="title">
                About:
        </td>
        <td valign="top">
                <br/>
                <p>
                This is a <a href="https://rubyonrails.org">rails</a> inspired 
                <a href="https://go.dev">go</a> framework that uses
                <a href="https://news.ycombinator.com/">Hacker News</a> style article submission, comments, and voting.
                </p>
                <p>
                The app you are using is also a framework <a href="https://github.com/andrewarrow/feedback">you can fork</a>
                and turn into your own app.
                </p>
                <p>
                Our sample app is live at <a href="https://remoterenters.com/">https://remoterenters.com/</a>
                </p>
                <p>

                <a href="https://remoterenters.com/">RemoteRenters</a> is a
                place to discuss the future of working remote from home.
                Watch the video below to get a sense of why such big changes
                are coming to how we live and work.
                </p>
                <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/vTHMwJ8kzjw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </p>
        </td>
        <td>
                &nbsp;
        </td>
      </tr>
       <tr class="spacer" style="height:15px"></tr>
