       <tr class="spacer" style="height:15px"></tr>
 <tr class='athing'>
      <td align="right" valign="top" class="title">
                About:
        </td>
        <td valign="top">
                <br/>
                <p>
                This is a <a href="https://rubyonrails.org">rails</a> inspired 
                <a href="https://go.dev">go</a> framework. 
                </p>
                <p>
                The app you are using <a href="https://github.com/andrewarrow/remoterenters">you can fork</a>
                and turn into your own app.
                </p>
                <p>
                Our sample app is live at <a href="https://remoterenters.com/">https://remoterenters.com/</a>
                </p>

        </td>
        <td>
                &nbsp;
        </td>
      </tr>
       <tr class="spacer" style="height:15px"></tr>
