<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/style1.css">
    <script type='text/javascript' src="/assets/javascript/main.js"></script>
  </head>
  <body>
    <center>
      <table id="s1main" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
        <tbody>
          <tr>
            <td bgcolor="#A4B0F5">
              <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                  <td style="line-height:12pt; height:10px;">
                    <span class="pagetop">
                      <b class="s1name"><a href="/">Welcome</a></b>
                      <a href="/models/">models</a> | 
                      <a href="#">option2</a> | 
                      <a href="#">next</a> | 
                      <a href="#">more</a> | 
                      <a href="#">last</a>
                    </span>
                  </td>
                  <td style="text-align:right;padding-right:4px;">
                    <span class="pagetop">
                      <a id="me" href="#">username</a> | 
                      <a id="logout" href="#">logout</a>
                    </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr id="pagespace" title="" style="height:10px"></tr>
          <tr>
            <td>
              <div id="flash" style="background-color: red; color: white; text-align: center;"></div>
              <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  {{ .Content }}
                  <tr class="athing" id="34937128">
                    <td class="title" valign="top" align="right">
                         &nbsp;
                    </td>      
                 </tr>
               </tbody>
              </table>
            </td>
          </tr>
      </table>
      <p>{{ .Phone }}</p>
    </center>
 </body>
</html>
