
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <meta name="description" content="A minimalist layout for Login pages. Built with Pico CSS.">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <link rel="canonical" href="https://picocss.com/examples/sign-in/">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style1.css">
    <script type='text/javascript' src="/assets/javascript/main.js"></script>
  </head>

  <body>

    <nav class="container-fluid">
      <ul>
        <li><a href="/" class="contrast"><strong>{{.SiteName}}</strong></a></li>
        <li> <a href="/about/">about</a> </li>
      </ul>
      <ul>
                      {{ if .User }}
                      <form id="logout" method="POST" action="/sessions/">
                        <input type="hidden" name="_method" value="DELETE"/>
                      </form>
                      <li><a href="/users/{{ .User.Username }}/">{{ .User.Username }}</a> | <a onclick="doLogout(event);" href="#">logout</a></li>
                      {{ else }}
        <li> <a href="/sessions/new/">login</a> </li>
                      {{ end }}
      </ul>
    </nav>

    <main class="container">
    {{ .Content }}
    </main>

    <footer class="container-fluid">
            <center>
                    <small><a href="https://github.com/andrewarrow/feedback">feedback</a></small>
            </center>
    </footer>

  </body>

</html>
