 <tr class='athing'>
      <td>      
              &nbsp;
              &nbsp;
      </td>      
      <td align="right" valign="top" class="title">
              &nbsp;
              &nbsp;
      </td>      
      <td class="title">
            <span class="titleline">
              &nbsp;
            </span>
        </td>
       </tr>
       <tr>
        <td colspan="2"></td>
        <td class="subtext2">
                Checkout our <a href="/buildings/example">example building</a>
                        of how we think the remote renter experience should be!
              </td></tr>
      <tr class="spacer" style="height:15px"></tr>
{{range $i, $item := .Rows}}
 <tr class='athing'>
      <td>      
              &nbsp;
              &nbsp;
      </td>      
      <td align="right" valign="top" class="title">
              <span class="rank">{{add $i 1}}.</span>&nbsp;
      </td>      
      <td class="title">
            <span class="titleline">
      <a href="{{$item.Url}}" rel="nofollow">{{$item.Name}}</a>
             <span class="sitebit comhead"> 
                     (<a href="/buildings/{{$item.Guid}}/"><span class="sitestr">{{$item.City}}, {{$item.State}}</span></a>)
              </span>
            </span>
        </td>
       </tr>
       <tr>
        <td colspan="2"></td>
        <td class="subtext"><span class="subline">
          <span class="score">{{$item.Units}} units</span> 
          at {{$item.Address}}
          <span class="age" title="{{$item.Timestamp}}">
                  <a href="/buildings/{{$item.Guid}}/">{{$item.Ago}}</a></span> |
          <a href="/buildings/{{ $item.Guid }}/">details</a> 
                </span>
              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
{{end}}
