 <tr class='athing'>
      <td>      
              &nbsp;
              &nbsp;
      </td>      
      <td align="right" valign="top" class="title">
              &nbsp;
              &nbsp;
      </td>      
      <td class="title">
            <span class="titleline">
              &nbsp;
            </span>
        </td>
       </tr>
       <tr>
        <td colspan="2"></td>
        <td class="subtext2">
                Building Show
              </td></tr>
      <tr class="spacer" style="height:15px"></tr>
