       <tr class="spacer" style="height:15px"></tr>

<tr>    <td class="ind" indent="0">&nbsp;</td>
        <td class="votelinks" valign="top">
      <center><a id="up_35025405" class="clicky" href="5">
      <div class="votearrow" title="upvote"></div></a>
      <a id="down_35025405" class="clicky" href="5">
      <div class="votearrow rotate180" title="downvote"></div></a>
      </center>    
        </td>
        <td class="default">
                <div style="margin-top:2px; margin-bottom:-10px;">
                        <span class="comhead">
     <a href="/users/{{.Username}}/" class="user">{{.Username}}</a> 
     <span class="age" title="{{.Timestamp}}">
             <a href="/comments/{{.Guid}}/">{{.Ago}}</a></span>
     <span id="unv_35025405"></span>        
     <span class="navs">
             | <a href="/stories/{{.StoryGuid}}/">parent</a>
             <span class="onstory"></span>         
             </span>
             </span>
             </div>
             <br>

                  <div class="comment">
                  <span class="commtext c00">
                          {{.Body}}
              <div class="reply">       
                      <p><font size="1">
                      <u><a href="/comments/{{.Guid}}/">reply</a></u>
                  </font>
      </p></div></span></div></td></tr>
       <tr class="spacer" style="height:15px"></tr>
