       <tr class="spacer" style="height:15px"></tr>

<tr>    <td class="ind" indent="0">&nbsp;</td>
        <td class="votelinks" valign="top">
                <!--
      <center><a id="up_35025405" class="clicky" href="5">
      <div class="votearrow" title="upvote"></div></a>
      <a id="down_35025405" class="clicky" href="5">
      <div class="votearrow rotate180" title="downvote"></div></a>
      </center>    
                -->
                &nbsp;
                &nbsp;
        </td>
        <td class="default">
                <div style="margin-top:2px; margin-bottom:-10px;">
                        <span class="comhead">
     <a href="/users/{{.Username}}/" class="user">{{.Username}}</a> 
     <span class="age" title="{{.Timestamp}}">
             <a href="/comments/{{.Guid}}/">{{.Ago}}</a></span>
     <span id="unv_35025405"></span>        
     <span class="navs">
             | <a href="/stories/{{.StoryGuid}}/">parent</a>
             | on: <a href="/stories/{{.StoryGuid}}/">{{.StoryTitle}}</a>
             <span class="onstory"></span>         
             </span>
             </span>
             </div>
             <br>

                  <div class="comment">
                  <span class="commtext c00">
                          {{.Body}}
              <div class="reply">       

              </div></span></div>
        </td>
</tr>
       <tr class="spacer" style="height:15px"></tr>
       <tr>
       <td colspan="2">&nbsp;</td>
       <td><form action="/comments/{{.StoryGuid}}/" method="POST">
         <textarea name="body" rows="8" cols="80" wrap="virtual"></textarea><br><br>
<input type="submit" value="add comment"></form></td>
       </tr>
       <tr class="spacer" style="height:15px"></tr>
