{{template "_header" .}}
             {{range $i, $item := .Models}}
                  <tr class="athing" id="34937127">
                    <td class="title" valign="top" align="right">
                            <span class="rank">{{add $i 1}}.</span>
                    </td>      
                    <td class="title">
                     <span class="titleline">
                             <a href="#">{{$item.Name}}</a>
                     </span>
                    </td>
                 </tr>
             {{end}}
                  <tr class="athing">
                    <td class="title">
                            New Model:
                    </td>
                    <td class="title">
                       <form method="POST" action="/models">
                         <input type="text" name="name" autofocus="true"/>
                         <input type="submit" value="create"/>
                       </form>
                    </td>
                 </tr>
{{template "_footer" .}}
