{{template "_header" .}}
                  <tr class="athing">
                    <td class="title" valign="top" align="right">
                      <table id="models">
               {{template "_models" .}}
                      </table>
                    </td>
                  </tr>
                  <tr class="athing">
                    <td class="title">
                            New Model:
                    </td>
                    <td class="title">
                       <form id="form1" method="POST" action="/models" onsubmit="sendFormAsJson(event);">
                         <input type="text" name="name" id="name" autofocus="true"/>
                         <input type="submit" value="create"/>
                       </form>
                    </td>
                 </tr>
{{template "_footer" .}}
