<article class="grid">
        <div>
          <hgroup>
            <h2>These are tables in your database.</h2>
          </hgroup>

      <table id="models" role="grid">
        {{template "_models" .}}
      </table>
     New Model:
     <form id="form1" method="POST" action="/models/" onsubmit="sendFormAsJson('models', event);">
         <input type="text" name="name" id="name" />
         <input type="submit" value="create"/>
     </form>
        </div>
        <div>
        </div>
</article>
