<div class="p-5">
        <div>
          <hgroup>
            <h1>Login</h1>
          </hgroup>
          <form action="/sessions" method="POST">
            <input type="text" name="username" placeholder="Username" class="border border-gray-300 px-4 py-2 rounded-md" autocomplete="username" required>
            <input type="password" name="password" placeholder="Password" class="border border-gray-300 px-4 py-2 rounded-md" autocomplete="password" required>
            <button type="submit" class="btn-main">Login</button>

          </form>

     <div id="g_id_onload"
         data-client_id="{{ index . "client_id" }}"
         data-ux_mode="redirect"
         data-login_uri="https://designwithhaven.com/google">
     </div>
     <div class="g_id_signin" data-type="standard" style="width: 200px"></div>

     <br/>
     <br/>


          <hgroup>
            <h1>Create Account</h1>
          </hgroup>
          <form action="/users" method="POST">
            <input type="text" name="username" placeholder="Username" autocomplete="username" required class="nice-i">
            <input class="nice-i" type="password" name="password" placeholder="Password" autocomplete="password" required>
            <button type="submit" class="btn-red">Create Account</button>
          </form>
        </div>
</div>
