 <tr class='athing'>
      <td align="right" valign="top" class="title">
              &nbsp;
      </td>      
      <td valign="top" class="votelinks">
              <center><a id='up_35023507' class='clicky' 
                              href='vote?it'>
        <div class='votearrow' title='upvote'></div>
                      </a>
              </center>
      </td>
      <td class="title">
            <span class="titleline">
      {{if .HasUrl}}
      <a href="{{.Url}}" rel="nofollow">{{.Title}}</a>
      {{else}}
      <a href="/stories/{{.Guid}}/" rel="nofollow">{{.Title}}</a>
      {{end}}
             <span class="sitebit comhead"> 
      {{if .HasUrl}}
      (<a href="/sites/{{.Domain}}/"><span class="sitestr">{{.Domain}}</span></a>)
      {{end}}
              </span>
            </span>
        </td>
       </tr>
       <tr>
        <td colspan="2"></td>
        <td class="subtext"><span class="subline">
          <span class="score" id="score_35023507">2 points</span> 
          by <a href="/users/{{.Username}}/" class="user">{{.Username}}</a> 
          <span class="age" title="{{.Timestamp}}">
                  <a href="/stories/{{.Guid}}/">{{.Ago}}</a></span> |
          <a href="/stories/{{ .Guid }}/">discuss</a> |
          <a href="/stories/{{ .Guid }}/">1 comment</a>        
                </span>
              </td></tr>
      <tr class="spacer" style="height:5px"></tr>

       <tr>
        <td colspan="2"></td>
        <td>
                <div class="toptext">
          {{.Body}}
                </div>
        </td>
       </tr>
