 <tr class='athing'>
      <td align="right" valign="top" class="title">
              &nbsp;
      </td>      
      <td valign="top" class="votelinks">
              <center><a class='clicky' href='#'>
        <div class='votearrow' title='upvote'></div>
                      </a>
              </center>
      </td>
      <td class="title">
            <span class="titleline">
      {{if .Story.HasUrl}}
      <a href="{{.Story.Url}}" rel="nofollow">{{.Story.Title}}</a>
      {{else}}
      <a href="/stories/{{.Story.Guid}}/" rel="nofollow">{{.Story.Title}}</a>
      {{end}}
             <span class="sitebit comhead"> 
      {{if .Story.HasUrl}}
      (<a href="/sites/{{.Story.Domain}}/"><span class="sitestr">{{.Story.Domain}}</span></a>)
      {{end}}
              </span>
            </span>
        </td>
       </tr>
       <tr>
        <td colspan="2"></td>
        <td class="subtext"><span class="subline">
                        <span class="score">{{.Story.Points}} point{{adds .Story.Points}}</span> 
          by <a href="/users/{{.Story.Username}}/" class="user">{{.Story.Username}}</a> 
          <span class="age" title="{{.Story.Timestamp}}">
                  <a href="/stories/{{.Story.Guid}}/">{{.Story.Ago}}</a></span> |
          <a href="/stories/{{ .Story.Guid }}/">discuss</a> |
          <a href="/stories/{{ .Story.Guid }}/">{{.Story.Comments}} comment{{adds .Story.Comments}}</a>        
                </span>
              </td></tr>

      {{if .Story.HasUrl}}
       <tr class="spacer" style="height:15px"></tr>
      {{else}}
       <tr class="spacer" style="height:5px"></tr>
       <tr>
        <td colspan="2"></td>
        <td>
          {{.Story.Body}}
        </td>
       </tr>
      {{end}}

       <tr>
       <td colspan="2"></td><td><form action="/comments/{{.Story.Guid}}/" method="POST">
         <textarea name="body" rows="8" cols="80" wrap="virtual"></textarea><br><br>
<input type="submit" value="add comment"></form></td>
       </tr>

       <tr class="spacer" style="height:15px"></tr>
{{range $i, $item := .Comments}}

<tr>    <td class="ind" indent="0">&nbsp;</td>
        <td class="votelinks" valign="top">
      <center><a id="up_35025405" class="clicky" href="5">
      <div class="votearrow" title="upvote"></div></a>
      <a id="down_35025405" class="clicky" href="5">
      <div class="votearrow rotate180" title="downvote"></div></a>
      </center>    
        </td>
        <td class="default">
                <div style="margin-top:2px; margin-bottom:-10px;">
                        <span class="comhead">
     <a href="/users/{{$item.Username}}/" class="user">{{$item.Username}}</a> 
     <span class="age" title="{{$item.Timestamp}}">
             <a href="/comments/{{$item.Guid}}/">{{$item.Ago}}</a></span>
     <span id="unv_35025405"></span>        
     <span class="navs">
     <!--
             | <a href="#35025498" class="clicky" aria-hidden="true">prev</a> |
             <a href="#35025866" class="clicky" aria-hidden="true">next</a> -->
             <span class="onstory"></span>         
             </span>
             </span>
             </div>
             <br>

                  <div class="comment">
                  <span class="commtext c00">
                          {{$item.Body}}
              <div class="reply">       
                      <p><font size="1">
                      <u><a href="/comments/{{$item.Guid}}/">reply</a></u>
                  </font>
      </p></div></span></div></td></tr>
       <tr class="spacer" style="height:15px"></tr>
{{end}}
