<tr id="pagespace" title="Submit" style="height:10px">
</tr>
<tr>
      <td>
        <form action="/stories/" method="POST">
                <table border="0">
                        <tr>
                                <td>title</td>
                                <td><input type="text" name="title" value="" size="50" autofocus="t">
                                <span style="margin-left:10px"></span>
                                </td>
                        </tr>
                        <tr>
                                <td>url</td>
                                <td><input type="url" name="url" value="" size="50">
                                </td>
                        </tr>
                        <tr>
                                <td>text</td><td><textarea name="body" rows="4" cols="49" wrap="virtual"></textarea></td>
                        </tr>
                        <tr>
                                <td></td>
                                <td></td>
                        </tr>
                        <tr>
                                <td></td>
                                <td><input type="submit" value="submit"></td>
                        </tr>
                        <tr style="height:20px"></tr>
                        <tr>
                                <td></td>
                                <td>Leave url blank to submit a question for discussion. If there
         is no url, text will appear at the top of the thread. If
         there is a url, text is ignored.<br><br>
</td></tr>
                </table>
</td></tr>

