
      <div class="container mx-auto px-8">
        <div class="w-full flex flex-col md:flex-row py-6">
          <div class="flex-1 mb-6 text-black">
            <a class="text-pink-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#"> LANDING </a>
          </div>
          <div class="flex-1 mb-6 text-black">
           <div class="border-2 border-gray-500 p-10">
                  hi
           </div>

          </div>
        </div>
        <div class="w-full flex flex-col md:flex-row py-6">
          <div class="flex-1 mb-6 text-black">
            <a class="text-pink-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#"> LANDING </a>
          </div>
          <div class="flex-1 mb-6 text-black">
           <div class="border-2 border-gray-500 p-10">
                  hi
           </div>

          </div>
        </div>
      </div>

<!--Left Col-->
<div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
        hi
</div>
<!--Right Col-->
<div class="w-full md:w-3/5 py-6 text-center">
        right
</div>


<!--


<main class="my-0 mx-auto max-w-3xl text-center">
  <h2 class="p-6 text-4xl">A Basic Tailwind CSS Example</h2>

  <p class="px-10 pb-10 text-left">Tailwind CSS works by scanning all of your HTML files, JavaScript components, and any other templates for class names, generating the corresponding styles and then writing them to a static CSS file. It's fast, flexible, and reliable — with zero-runtime.</p>

  <button class="bg-sky-600 hover:bg-sky-700 px-5 py-3 text-white rounded-lg">BUTTON EXAMPLE</button>

  <button class="btn-main">Click me2</button>

  <div class="grid grid-cols-4 gap-4">
  <div>01</div>
  <div>02</div>
  <div>03</div>
  <div>04</div>
  <div>05</div>
  <div>06</div>
  <div>07</div>
  <div>08</div>
  <div>09</div>
</div>

</main>
-->
