                  <tr class="athing">
                    <td class="title">
                      <table id="models" border="0">
             {{range $i, $item := .Rows}}
                  <tr class="athing" colspan="2">
                    <td class="title" valign="top" align="right">
                            <span class="rank">{{add $i 1}}.</span>
                    </td>      
                    <td class="title">
                            {{index $item "title"}}
                    </td>
                 </tr>
             {{end}}
                      </table>
                    </td>
                  </tr>
