{{range $i, $item := .Rows}}
 <tr class='athing'>
      <td align="right" valign="top" class="title">
              <span class="rank">{{add $i 1}}.</span>
      </td>      
      <td valign="top" class="votelinks">
              <center><a id='up_35023507' class='clicky' 
                              href='vote?it'>
        <div class='votearrow' title='upvote'></div>
                      </a>
              </center>
      </td>
      <td class="title">
            <span class="titleline">
      {{if $item.HasUrl}}
      <a href="{{$item.Url}}" rel="nofollow">{{$item.Title}}</a>
      {{else}}
      <a href="/stories/{{$item.Guid}}/" rel="nofollow">{{$item.Title}}</a>
      {{end}}
             <span class="sitebit comhead"> 
      {{if $item.HasUrl}}
      (<a href="/sites/{{$item.Domain}}/"><span class="sitestr">{{$item.Domain}}</span></a>)
      {{end}}
              </span>
            </span>
        </td>
       </tr>
       <tr>
        <td colspan="2"></td>
        <td class="subtext"><span class="subline">
          <span class="score" id="score_35023507">2 points</span> 
          by <a href="/users/{{$item.Username}}/" class="user">{{$item.Username}}</a> 
          <span class="age" title="{{$item.Timestamp}}">
                  <a href="/stories/{{$item.Guid}}/">{{$item.Ago}}</a></span> |
          <a href="/stories/{{ $item.Guid }}/">discuss</a> |
          <a href="/stories/{{ $item.Guid }}/">{{$item.Comments}} comment{{$item.AddS}}</a>        
                </span>
              </td></tr>
      <tr class="spacer" style="height:5px"></tr>
{{end}}
                        











