{{define "_header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }}</title>
    <link href="/static/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></scrip
t>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600i
talic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<style>
	body {
		margin: 20px;
	}

	.sidebar {
		grid-area: sidebar;
	}

	.content {
		grid-area: content;
	}

	.header {
		grid-area: header;
	}

	.footer {
		grid-area: footer;
	}


	.wrapper {
		display: grid;
    grid-gap: 10px;
		grid-template-columns: 120px 420px 120px;
		grid-template-areas:
    "....... header header"
		"sidebar content content"
		"footer  footer  footer";
		background-color: #fff;
		color: #444;
	}

	.box {
		background-color: #fff;
		color: #000;
		border-radius: 5px;
		padding: 10px;
		font-size: 150%;

	}

	.header, .footer {
		background-color: #fff;
	}



   </style>
</head>
<body>
{{template "_flash" .}}
 <div class="wrapper">
{{end}}
