{{template "_header" .}}
  
		<div class="box sidebar"></div>
		<div class="box content">
    <span>Cookies help us deliver our services.</span>

    <span style="font-size: 24px;">Do you authorized this website to store cookies on your computer's hard drive?</span>

<br/>
<br/>
    <a href="/gdpr">Yes</a>

{{template "_footer" .}}
