{{template "header" .}}
  
<body>
{{template "flash" .}}


 <div class="wrapper">
	 	<div class="box header">
{{template "whoami" .}}
</div>
		<div class="box sidebar">Sidebar</div>
		<div class="box content">
			<br /> You have access: {{.user.Flavor}}</div>
		<div class="box footer">Footer</div>
	</div>

</body>
</html>
