{{template "_header" .}}
  
{{template "_whoami" .}}
		<div class="box sidebar">Sidebar</div>
		<div class="box content">Content
			<br /> More content than we had before so this column is now quite tall.</div>

{{template "_footer" .}}
