{{template "_header" .}}
<form method="post" action="/sessions">
<input type="text" name="email"/>
<br/>
<input type="text" name="password"/>
<br/>
<input type="submit"/>
</form>
{{template "_footer" .}}
